page-login {
      .intro {
            font-size: 4vh;
            margin-top: -8vh;
            margin-bottom: 4vh;
      }
      button {
            ion-icon {
                  font-size: 5vh;
                  padding: 0 !important;
                  margin: 0 !important;
                  margin-right: 3vw !important;
            }
            font-size: 3vh !important;
      }
}
