.iconotron {
      text-align: center;
      font-size: 10vh;
      margin: -1vh;
      color: color($colors, primary);
}

.jumbo-iconotron {
      @extend .iconotron;
      font-size: 30vh;
      margin: -3vh;
}
