<ion-header>
      <ion-navbar>
            <ion-buttons start>
                  <button (tap)="logOut()" ion-button>
                        Log Out
                  </button>
            </ion-buttons>
            <ion-title>Leaderboards</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>
      <div class="iconotron">
            <ion-icon name="md-medal"></ion-icon>
      </div>
      <romeo-placeholder *ngIf="(challenges | async)?.length == 0" [text]="'Oh no! Looks like the global leaderboards are empty.'"></romeo-placeholder>
      <romeo-challenge *ngFor="let challenge of (challenges | async)"
            [id]="challenge?.id"
            [name]="challenge?.name"
            [creator_id]="challenge?.creator_id"
            [audio_url]="challenge?.audio"
            [transcript]="challenge?.transcript"
            [submissions]="challenge?.submissions"
            [thumbnail_url]="challenge?.thumbnail_url"
            [date_created]="challenge?.date_created"
      ></romeo-challenge>
</ion-content>
